<a href="https://colab.research.google.com/github/Talal-3132/Data-science-journey/blob/main/lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list act as dynamic arrays
you can store multiple items on list.when you work on multiple things generally same type you can used list for example 1000 movies reviews.if you can store moive reviews in different varialable and if someone say convert these review into lower then its will bi headic to work on different variable so we easyly used lists

#dynamic arrays
start with the fix siz and if size is fixed then double the size of prevous array

#Arrays vs list
Fixed vs dynamic size

Fixed vs hetrogenous (flexible data type)

Faster vs slower(contigous memory vs non contigous memory allocation)

space lower vs higher

hetrogenous we can used refrentrail array we cannot directly value but we store addreases so we can store any addreas like integer , char , float etc

#indexing and slicing in list

#Characterstics of a List
- Ordered
- Changeble/Mutable
- Hetrogeneous
- Can have duplicates
- are dynamic
- can be nested
- items can be accessed
- can contain any kind of objects in python (you can store any kind of object in list)

# creating a list

In [ ]:
#empty
l = []
print(l)
#2d
l = [1,2,3,4,[5,6]]
print(l)
#3d
l = [[[2,3],[4,5,6],[2,34,5,5]]]
print(l)
#heterogenous
print([1,True,'hello'])
#type conversion
print(list['hello'])

[]
[1, 2, 3, 4, [5, 6]]
[[[2, 3], [4, 5, 6], [2, 34, 5, 5]]]
[1, True, 'hello']
list['hello']

#Accessing Items from a List(Two methods indexing or slicing)

In [ ]:
#indexing (negative or positive jab specific number ko print karna ho)
L = [1,2,34,[4,[5,6,7]]]
print(L[-1][-2])
print(L[2])
print(L[-1][-1][-2])
#slicing(gap ho yah tab)
L = [1,23,4,5,6,[3,5],[5,8,9],[6,4,6]]
print(L[7:8:])

4
34
6
[[6, 4, 6]]

#Adding Items to a List(append, extend or insert)
append ak item ko add karny liya Extended multiple item ko or insert middle ma kahi insert karny ka liya

In [ ]:
#append
L = [1,23,4,5,6,7,8,8,9,0]
L.append([1])
print(L)
#extend
L = [1,2,3,4,5,6,7,8,8,9,10]
L.extend([2,3,4,5])
print(L)
L = [1,2,3,4,5,6,7,8,8,9,10]
L.extend([1,2,3,4,4])
print(L)
#insert
L = [1,2,3,4,5,6,7,8,8,9]
L.insert(5,[100,1000])
print(L)

[1, 23, 4, 5, 6, 7, 8, 8, 9, 0, [1]]
[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 8, 9, 10, 1, 2, 3, 4, 4]
[1, 2, 3, 4, 5, [100, 1000], 6, 7, 8, 8, 9]

# Editing items in a List
indexing and slicing

In [ ]:
L = [12,4,5,6,7,True]
L[-1] = False
print(L)
#multiple items change in a string use slicing
L = [1,2,3,4,5,6]
L[1:4] = [200,300,400]
print(L)

[12, 4, 5, 6, 7, False]
[1, 200, 300, 400, 5, 6]

# Deleting items from a List
#del
#remove
remove you dont where the number the number you wnt to delete so remove function can bi used removed by value not index position is defined
(its can remove first match value)
#pop
pop remove the last value but if you pass index then its remove index item
#clear
remove the list items(empty list)

In [ ]:
#del
L =[1,3,4,5,6]
print(L)
#indexing
del L[-1]
print(L)
#slicing
P = [1,2,3,4,5,6]
del P[1:4]
print(P)
#remove
J = [1,2,3,4,5,6,5,7]
J.remove(5)
print(J)

[1, 3, 4, 5, 6]
[1, 3, 4, 5]
[1, 5, 6]
[1, 2, 3, 4, 6, 5, 7]

In [ ]:
#pop
L =[1,2,3,4,5]
L.pop(3)
print(L)

[1, 2, 3, 5]

In [ ]:
#clear
L = [1,2,4,5,6,7]
L.clear()
print(L)

[]

#Operations on Lists
Arithmetic(+ ,*)

Membership(in , not in)

Loop

In [ ]:
#arithmetic
L1 =[1,2,3,4,5,6]
L2 = [7,8,9]
print(L1 + L2)
print(L1 * 3)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
#membership operator
L1 =[1,2,3,4,5,6]
L2 = [7,8,9,[3,4]]
print(7 not in L1)
print([3,4] in L2)

True
True

In [ ]:
#loop
L1 =[1,2,3,4,5,6]
L2 = [7,8,9,[3,4]]
l = [[[2,3],[4,5,6],[2,34,5,5]]]
for i in l:
  print(i)

[[2, 3], [4, 5, 6], [2, 34, 5, 5]]

#List Functions
# len/min/max/sorted
# count
# index
# reverse

In [ ]:
L = [1,2,3,4,5,6]
print(len(L))
L = [1,2,3,4,5,6]
print(min(L))
L = [1,2,3,4,5,6]
print(max(L))
L = [1,2,3,4,5,6,4.5]
print(sorted(L, reverse = False))

6
1
6
[1, 2, 3, 4, 4.5, 5, 6]

In [ ]:
#count
L = [1,1,3,4]
print(L.count(1))
#index
L = [1,3,4,5,3,1]
L.index(4)
#reverse permantly reverse
L = [1,3,4,5,3,1]
L.reverse()
print(L)

2
[1, 3, 5, 4, 3, 1]

In [ ]:
#sort(permantly sorted ) vs sorted
L = [2,1,3,5,4]
print(sorted(L))
print(L)
#sort
L = [2,1,3,5,4]
L.sort()
print(L)

[1, 2, 3, 4, 5]
[2, 1, 3, 5, 4]
[1, 2, 3, 4, 5]

In [ ]:
#copy
l =[1,2,3,4,5,6,7]
print(l)
print(id(l))
l1 = l.copy()
print(l1)
print(id(l1))

[1, 2, 3, 4, 5, 6, 7]
136593440569536
[1, 2, 3, 4, 5, 6, 7]
136593438010624

#Deep copy vs shallow copy
Shallow Copy:
The outer list is copied, but inner (nested) items share the same memory.
So, changing a nested element in one list affects the other

Deep Copy:
Both the outer and inner elements are fully copied.
So, changing any item in one list does not affect the other — they're completely separate in memory

In 1D lists:
Shallow copy and deep copy behave the same, because there are no nested objects.
Both create separate lists, so changes do not affect each other.

In [ ]:
#shalow copy
import copy
a = [[1, 2], [3, 4]]
b = copy.copy(a)
a[1][0] = 100
print(a)
print(b)
#deep copy
x = [[1, 2], [3, 4]]
y = copy.deepcopy(x)
x[1][0] = 100
print(x)
print(y)

[[1, 2], [100, 4]]
[[1, 2], [100, 4]]
[[1, 2], [100, 4]]
[[1, 2], [3, 4]]

## List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]![image.png]()

Advantages of List Comprehension
- More time-efficient and space-efficient than loops.
- Require fewer lines of code.
- Transforms iterative statement into a formula.

In [ ]:
# Add 1 to 10 numbers to a list
x= []
for i in range(1,11):
  x.append(i)

print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# scalar multiplication on a vector
s = [9,5,3,7,5]
v = 3

[v*i for i in s  ]

[27, 15, 9, 21, 15]

In [ ]:
# Print all numbers divisible by 5 in the range of 1 to 50
[i for i in range(1,51) if i%5 ==0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [ ]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'
[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [ ]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in (1,4)]

[[1, 2, 3], [4, 8, 12]]

In [ ]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]
[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

## 2 ways to traverse a list

- itemwise
- indexwise

In [ ]:
# itemwise
L = [1,2,3,4,5]
for listt in L:
  print(listt)

1
2
3
4
5

In [ ]:
# indexwise
l = [3,4,7,32,5,6]
for i in range(0,len(l)):
  print([i])

[0]
[1]
[2]
[3]
[4]
[5]

## Zip

The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator.

In [ ]:
# Write a program to add items of 2 lists indexwise
L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]
[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

## Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [ ]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]

#list practice questions

In [ ]:
# Create 2 lists from a given list where
# 1st list will contain all the odd numbers from the original list and
# the 2nd one will contain all the even numbers

L = [1,2,3,4,5,6]

Even = [i for i in L if i%2 != 0]
odd =  [i for i in L if i%2 == 0]
print(Even)
print(odd)

[1, 3, 5]
[2, 4, 6]

In [ ]:
user_input = input("Enter the string sperated by commas ")
L = user_input.split(' ')
print(L)

Enter the string sperated by commas 1 2 3 4 True
['1', '2', '3', '4', 'True']

In [ ]:
# Write a program to merge 2 list without using the + operator
L1 = [1,2,3,4]
L2 = [5,6,7,8]

L1.extend(L2)
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Write a program to replace an item with a different item if found in the list
L = [1,2,3,4,5,3]
# replace 3 with 300

L[2] = 300
print(L)

[1, 2, 300, 4, 5, 3]

In [ ]:
# Write a program that can convert a 3D list to 1D list
L = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
h = [z for x in L for y in x for z in y]
print(h)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# Write a program to remove duplicate items from a list

L = [1,2,1,2,3,4,5,3,4]
seen = []
Remove_duplicates = [ item for item in L if item not in seen and not seen.append(item)]
print(Remove_duplicates)

for item in L:
  if item not in seen:
    seen.append(item)

print(seen)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [ ]:
# Write a program to check if a list is in ascending order or not
L = [1,2,3,4,45,6]

if L == sorted(L):
  print('The list is ascending')
else:
  print('the list is not asending order')

the list is not asending order